/* NotFound */
.container {
  font-family: 'Arial', sans-serif; /* Choose a sleek font for the theme */
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.input,
.button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}