# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output or production
build/
dist/

# Firebase
firebase-debug.log
firestore-debug.log

# Logs
logs
*.log
logs/
*.log

# Temporary files
*.tmp
*.swp
*~

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
