/* GetStartedModal Styling */

@keyframes neon-glow {
    0%, 100% {
      text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14;
    }
    50% {
      text-shadow: none;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .glowing {
    animation: neon-glow 5s infinite;
  }
  
  .spinning {
    animation: spin 2s linear;
  }